#steam-game-div {
    margin: 0 5px;
    padding: 0;
}

.steam-game-item * {
    padding: 0;
    margin: 0;
}

/* 个人资料卡 */
.steam-card-img {
    text-align: center;
    margin-top: 10px;
}

.steam-card-img a {
    display: inline-block;
}

.steam-card-img a img {
    width: 100%;
}

/* 彩色分割线 */
.colorline {
    width: inherit;
    height: 5px;
    margin: 10px auto;
    background-size: 30px 30px;
    border: 1px solid #ff9191;
    background-image: linear-gradient(135deg, #ff9191 0%, #ff9191 25%, white 25%, white 50%, #ff9191 50%, #ff9191 75%, white 75%, white 100%);
}

/* 外层大盒子 */
.steam-game-item {
    position: relative;
    width: 100%;
    min-height: 100px;
    margin: 5px 0;
    border-bottom: 1px solid #D3D3D3;
}

/* 游戏宣传图 */
.steam-game-picture {
    float: left;
    margin-top: 10px;
}

.steam-game-picture img {
    width: 100%;
}

/* 游戏信息块 */
.steam-game-info {
    float: left;
    margin: 10px 0 0 10px;
    max-width: 130px;
}

/* 游戏标题 */
.steam-game-info .steam-game-title a {
    color: #6daaff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* 游戏时长 */
.steam-game-info .steam-game-meta {
    position: absolute;
    bottom: 10px;
    color: #fe9ab0;
    font-size: 12px;
}

/* 游戏信息按钮块 */
.steam-game-link {
    float: right;
    margin: 28px 10px 0 0;
}

/* 信息按钮 */
.steam-game-link .steam-game-button {
    display: inline-block;
    margin-left: 5px;
    padding: 5px;
    color: #fff;
    background-color: #fe798d;
    border-radius: 20px;
    transition: all .6s;
}

.steam-game-link .steam-game-button:hover {
    background: rgba(251, 120, 139, .6);
}

/* 移动端布局 */
@media (max-width:600px) {

    /* 外层大盒子 */
    .steam-game-item {
        display: inline-grid;
        position: relative;
        float: left;
        justify-content: center;
        align-items: center;
        width: 48%;
        height: 120px;
        margin: 0 1% 20px 1%;
        background-color: #fff;
        box-shadow: 3px 3px 2px rgba(0, 0, 0, .3);
    }

    /* 游戏宣传图 */
    .steam-game-picture {
        clear: both;
    }

    /* 游戏信息块 */
    .steam-game-info {
        clear: both;
        left: 50%;
        margin: auto;
        text-align: center;
    }

    /* 游戏时长 */
    .steam-game-info .steam-game-meta {
        position: static;
    }

    /* 游戏标题 */
    .steam-game-info .steam-game-title {
        overflow: hidden;
        height: 16px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    /* 游戏信息按钮块 */
    .steam-game-link {
        display: none;
    }
}

/* 清除浮动 */
#steam-game-div::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* 分页模块 */
.page-list {
    text-align: center;
}

.page-list ul {
    display: inline-block;
    margin: 20px 0;
}

.page-list ul li {
    float: left;
    list-style: none;
    padding: 3px;
    margin: 0 10px;
    border: 0.5px solid #bbb;
    border-radius: 5px;
    transition: all .4s;
}

.page-list ul li:hover {
    color: #fff;
    background-color: #fe798d;
    transform: scale(1.1);
}